body {
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  background-image: url("images/BCLogo-W12U.png");
  /* background-position: 0 160px; */
  background-color: hsla(0,0%,100%,0.80);
  background-blend-mode: overlay;
  /* text-align: center; */
}

.jumbotron {
  padding-top: 1px;
  padding-bottom:20px;
  background-color: #6c757d;
  background-position: bottom;
  height: 55vw;
  margin-bottom: 0px;
  border: 5px solid red;
  border-top: none;
  max-height: 350px;

}

.cover {
  height: 50vw;
  background: url("images/mark-duffel-352915-unsplash2.jpg") no-repeat;
  background-size: cover;
  max-width: 750px;
  max-height: 300px;
  margin:auto;
}

h1 {
 color: red;
 text-shadow: 3px 3px black;
 margin-left: 10px;
 font-size: 4vw;
}

h2 {
  color: red;
  text-shadow: 3px 2px black;
  max-width: 70%;
  margin: 20px 0 0 20px;
}

#photocredit {
  position: absolute;
  bottom: 0;
  margin-left: 70%;
  z-index: 1;
  color: white;
  font-size: 1em;
}

.navbar {
  border: 5px solid red;
}

@media screen and (min-width: 770px) {
  h1 {
   color: red;
   text-shadow: 3px 3px black;
   margin-left: 10px;
   font-size: 3vw;

  }
