body {
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  background-image: url("images/BCLogo.png");
  background-color: hsla(0,0%,100%,0.80);
  background-blend-mode: overlay;
  /* text-align: center; */
}

.jumbotron {
  padding-top: 1px;
  padding-bottom:20px;
  background-color: #6c757d;
  background-position: bottom;
  height: 55vw;
  margin-bottom: 0px;
  border: 5px solid red;
  border-top: none;
}

.cover {
  height: 50vw;
  background: url("images/softballcrop2.jpg") no-repeat;
  background-size: cover;
  max-width: 1200px;
  max-height: 600px;
  margin:0 auto;
}

h1 {
 color: red;
 text-shadow: 3px 3px black;
 margin-left: 10px;
}

.mission {
  color: red;
  text-shadow: 3px 2px black;
  max-width: 65%;
  margin: 20px 0 0 20px;
  position: relative;
  float: left;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
}

.navbar {
  border: 5px solid red;
}


/* Styles for larger screens */
@media screen and (min-width: 1250px) {
  .mission {
    color: red;
    text-shadow: 3px 2px black;
    max-width: 65%;
    margin: 20px 0 0 20px;
    position: relative;
    float: left;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
  }
