.jumbotron {
  padding: 0px !important;
  background: no-repeat;
  background-size: contain !important;
  background-color: hsla(0,0%,100%,0.0) !important;  
  background-position: bottom;
  width: 80vw;
  height: 50vw;
  border: none;
  max-height: 600px;
  max-width: 950px; 
  min-width: 350px;
  margin: 13vh auto;
}

.cover { 
  height: 100%;
  background: no-repeat;
  background-size: contain !important;
  max-width: 750px; 
  max-height: 400px; 
  margin: 0
 }

h2 {
  color: red;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  max-width: 70%;
  margin: 20px 0 0 20px;
}
