/* h4 {
  font-size: 4vw !important;
} */

h4, h1 {
 color: red !important;
 text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.navbar {
  border: 5px solid red;
  top:0;
  width: 100%;
  margin: 0 0;
  padding: 0 !important;
  z-index: 199;
}

/* @media screen and (min-width: 850px) {
  h4 {
    font-size: unset !important;
  }
  .navbar {
    border: 5px solid red;
    top:0;
    width: 100vw;
    margin: 0 0 0 0;
    padding: 0 !important;
    z-index: 199;
  }
  
} */